/* google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap');

body{
    font-family: 'Noto Sans KR', sans-serif;
}

.container_body{
    width: 100%; /* Set the width of the outer container to full viewport width */
    overflow-x: auto;
}

.flex-table {
    display: flex;
    flex-direction: column;
    /* min-width: 100%;  */
}

.flex-header{
    /* background-color: rgba(10,10,10,1); */
    /* color:yellow; */
    font-weight: 700;
    background-color: gray;
    color:black;
    border:1px solid white;
}

.flex-row {
    display: flex;
    /* width: 100%;  */
}
.showing, .not-showing {
    
    display: flex;

}

.showing {
    flex-grow: 1; /* Allows the .showing section to expand */
    flex-shrink: 0; /* Prevents the .showing section from shrinking */
    flex-basis: 100%;
}

.not-showing {
    /* flex-grow: 2; Allows the .showing section to expand */
    flex-shrink: 0; /* Prevents the .showing section from shrinking */
    /* flex-basis: 20px; */

}
.not-showing > .flex-cell{
    /* background-color: aqua; */
    width: 100px;
}
/* arrive주소 */
.not-showing > .flex-cell:nth-child(10){
    /* background-color: aqua; */
    width: 160px;
    flex:auto;
}


/* 요청사항 */
.not-showing > .flex-cell:nth-child(13){
    /* background-color: aqua; */
    width: 200px;
    flex:auto;
}

/* showing's first second tab smaller */
.showing > .flex-cell:nth-child(1){
    /* background-color: red; */
    /* flex-basis: 5%; */
    flex-grow: 0.5;
}
.showing > .flex-cell:nth-child(2){
    /* background-color: blue; */
    flex-grow: 0.5;
}

.flex-cell {
    flex: 1; /* Each cell takes equal space */
    border: 1px solid black; /* Borders for cells */
    padding: 10px; /* Padding for content */
    text-align: center; /* Centering the text */
}

.flex-subrow{
    display: flex;
    /* margin:0px -10px; */
}

.flex-subrow .flex-cell{
    padding: 10px 0;
}


.flex-row .flex-subcell{
    flex-basis: 1; /* Each cell takes equal space */
    flex-shrink:1;
    flex-grow: 1;
    border: 1px solid black; /* Borders for cells */
    text-align: center; /* Centering the text */
    /* background-color: aquamarine; */
    padding:0;
}

/* etc to father biiger */

.showing > .flex-cell:nth-child(4){
    /* background-color: aquamarine; */
    flex-grow: 2;
}



.flex-row:first-child{
    /* background-color: rgb(10,10,10,0.1) */
}



.flex-row .flex-cell:hover {
    background-color:rgba(10,10,250,0.1)
}

.header{
    position:relative;
    /* background-color: aquamarine; */
    display: flex;
    height: 50px;
    font-size: 2rem;
}

.box_links{
    position: absolute;
    right:5%;
    /* margin-left: 20px; */
}

.container_top{
    /* background-color: gray; */
    
    width: 100%;
    display: flex;
}
.box_title{
    width: 40%;
    padding: 5%;
}

.box_printAndDate{
    width: 40%;
    padding: 5%;
    display:flex;

    /* background-color: cyan; */
}


.container_controller{
    /* background-color: brown; */
    
}
.box_searchDate{
    margin-left: 50%;
}

#date{
    margin-top: 20px;
    margin-left: 20px;
}