.flex-table {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.flex-cell {
    flex: 1; /* Each cell takes equal space */
    border: 1px solid black; /* Borders for cells */
    padding: 10px; /* Padding for content */
    text-align: center; /* Centering the text */
}

/* Add any additional styling as needed */

.flex-row:first-child{
    background-color: rgb(10,10,10,0.1)
}

.flex-row .flex-cell:first-child {
    background-color: rgb(10,10,10,0.1)
}

.flex-row .flex-cell:first-child:hover {
    background-color:rgba(10,10,250,0.1)
}
